*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body{
    background-color: white;
    overflow-x: hidden;
    overflow-y:scroll;
}

/*-----------------------------------------------------*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: rgba(0, 0, 0,.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.name{
    color: black;
    font-weight: 700;
    font-size: 20px;
}

span{
    font-size: 30px;
    color: rgb(248, 0, 99);
}



.navbar a{
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

nav a:hover{
    color: rgb(248, 0, 99);
    transition: .3s;
}

.login{
    margin-left: 2rem;
    border: none;
    background: green;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-size: medium;
    font-weight: 500;
    transition: .4s;
    cursor: pointer;
}

.login:hover{
    background-color: rgb(248, 0, 99);
    color: black;
    transition: .3s;
    transform: scale(1.1);
}

.cart{
    
    height: 25px;
    width: 25px;
    color: white;
    margin-left: 10rem;
}

/*-----------------------------------------------------*/

.title h2{
    text-align: center;
    margin-top: 8%;
    color: black;
    font-size: 40px;
    font-weight: 800;
}

.row {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5rem;
}

.menuB{
    margin-left: 1.5rem;
    padding: 6px 15px;
    border-radius: 40px;
    border-style: none;
    background-color: rgb(196, 194, 194);
    height: 100%;
    width: 150px;
    font-weight: 500;
    transition: .4s;
    cursor: pointer;
}

.menuB:hover{
    background-color: rgb(248, 0, 99);
    transition: .4s;
    color: white;
}

.row2 img{
    height: 300px;
    width: 200px;
}

.collection{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 1.5rem;
    margin-left: 5rem;
    margin-bottom: 2.5rem;
}

.row2{
    position: relative;
    transition: all.40s;
}

.row2:hover{
    transform: scale(0.9);
}

.rattings i{
    color: orange;
}

.btnCart{
    width: 75%;
    border: none;
    background-color: black;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
}

.btnCart:hover{
    background-color: rgb(248, 0, 99);
}

/*----------------------------------------------------------------*/

.footer{
    background-color: rgb(68, 68, 68);
    padding: 50px;
    
}

.container{
    max-width: 1000px;
    margin-left: 5rem;
    
}

ul{
    list-style: none;
}

.row1{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    color: white;
    font-size: medium;
    width: 50%;
    padding: 0 15px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col span{
    color: rgb(248, 0, 99);   
}

.footer-col .socialMdia a{
    
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .socialMdia a:hover{
    color: #24262b;
    background-color: #ffffff;

}

/*-------------------------------------------------*/

.copyWrite{
    text-align: center;
    padding: 20px;
    background-color:black;
}

.copyWrite p{
    color: white;
}
